// Usage
#app-container {
  background-image: url("../images/carbon_fibre_big_@2X.png");
  background-repeat:repeat;
  min-height: 100vh;

  h1{
    text-align: right;
    color: white;
  }
  #board{
    background-color: black;
    height: 300px;
    color: white;
    text-align: center;
    margin-top: 150px;
    border: 2px solid;
    border-radius: 25px;
  }
}