/* ==========================================================================
   Base Stylesheet
   base.less
   ========================================================================== */

.section{
  padding-top: 100px;

  h2{
    display: block;
    margin-top: 0px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 40px;
    text-align: center;
    color: white;
  }

  form{
    color: white;

    #goomba{
      max-width: 170px;
      padding: 20px;
    }
    #mario{
      max-width: 170px;
      padding: 20px;
    }
  }
}